/*
** RESET
*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 100%;
}

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px auto;
    color: #f3f3f3;
    padding: 10px 15px;
    background-color: rgba(32, 7, 155, 0.8);
    border-radius: 10px;
    transition: all 0.3s;
    text-transform: capitalize;
    outline: none;
}

.btn:hover {
    transform: scale(1.02);
    background-color: rgb(65, 32, 230);
}

/*
** HOME PAGE
*/
/*
** HEADER
*/
#header {
    background: -webkit-linear-gradient(to right, #667db6, rgba(0, 130, 200,0.9), rgba(0, 130, 200, 0.8), rgba(102, 125, 182,0.2)),url("./images/Background.jpg"); 
    background: linear-gradient(to right, #667db6, rgba(0, 130, 200,0.9), rgba(0, 130, 200, 0.8), rgba(102, 125, 182,0.2)),url("./images/Background.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #f3f3f3;
    -webkit-clip-path: ellipse(90% 60% at 50% 30%);
    clip-path: ellipse(90% 65% at 50% 30%);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

header .grid-container {
    padding: 5% 5%;
    text-align: left;
    
}

/*
** Intro section
*/
.content-header {
    padding-top: 5%;
}
#intro-section {
    width: 100%;
}

.name-of-team {
    text-transform: capitalize;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}

p.about-team {
    margin-top: 20px;
    line-height: 170%;
    width: 80%;
    font-size: 1.2em;
}

.grid-item img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.team-photo img {
    box-shadow: 0 0 30px  #021c58;
}

.name-of-team, p.about-team {
    color: #f3f3f3;
    animation: moveLeft 1.2s;
}


.team-photo img {
    animation: popUp 1.2s;
}

area{
    outline: 0;
}

@keyframes moveLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes popUp {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    95% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        width: 80%;
    }


    100% {
        opacity: 1;
        width: 100%;
    }
}

/*
**  CONTAINER
*/
.container.grid-container {
    padding: 0% 5%;

}

.heading-section {
    text-align: center;
    font-size: 1.6em;
    color: rgb(5, 71, 129);
    font-weight: 900;
    margin: 25px auto;
    text-transform: capitalize;
}



#member-section .grid-item {
    padding: 0px 10%;
    text-align: center;
    box-shadow: 0 0 15px rgb(5, 71, 129);
    margin: 0 15px 20px 15px;
    padding: 30px 10px;
    border-radius: 10px;
    transition: all 0.5s;
}

#member-section .grid-item:hover {
    transform: scale(1.05);
}

img.img-member {
    display: inline-block;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

.infor-member {
    line-height: 150%;
}

.up-btn {
    text-align: center;
    display: block;
    margin: 30px auto;
}

/*
**  FOOTER
*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #f3f3f3;
    text-transform: capitalize;
    position: sticky;
    top: 100%;
}


/*---------------------------------------*/
/*------------------SUBSITE--------------*/
/*---------------------------------------*/
#header-member-page {
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, rgba(0, 130, 200,0.9), rgba(0, 130, 200, 0.8), rgba(102, 125, 182,0.2)),url("./images/Background.jpg");
    background: linear-gradient(to right, #667db6, rgba(0, 130, 200,0.9), rgba(0, 130, 200, 0.8), rgba(102, 125, 182,0.2)),url("./images/Background.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    border-radius: 0px 0px 15px 15px ;
    box-shadow: 0 0 5px #021c58;
}
#header-member-page .name-of-team {
    padding: 20px 0px;
    text-align: center;
    color: #f3f3f3;
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
}
.general-infor {
    color: #FDFDFC;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
     color: #333;
    width: 80%;
    margin: 0 auto;
    
}

.grid-container-infor {
    animation: popUp 1.2s;
    display: grid;
    grid-template-columns: auto auto;
}


.image {
    margin-left: auto;
}

.grid-item .avt {
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 5px solid rgb(50, 52, 59);
    box-shadow: 0 0 15px rgb(88, 101, 146);
    display: inline-block;
    margin: auto auto;
  
}

.avt:hover {
    transform: scale(1.05);
    transition: all .5s;
}


.name {
    font-size: 1.5em;
    font-weight: bolder;
}

.stu-id {
    font-size: 1.3em;
    font-weight: bold;
    margin: 15px 0;
}

ul {
    list-style: none;
}

ul li {
    margin-top: 10px;
}


.icon {
    margin-right: 10px;
    color: #1B7FBD;
    font-size: 150%;
}

.icon:hover {
    transform: scale(1.5);
}
.btn-back {
    text-align: center;
    margin: 20px auto;
}

/*---------------------------------------*/
/*---------------RESPONSIVE--------------*/
/*---------------------------------------*/

@media only screen and (min-width:1024px) {
      #header  {
        max-height: 620px;
    }
}
@media only screen and (max-width:1023px) {
    .infor {
        margin-left: 10%;
    }

    #header  {
        max-height: 630px;
    }
    .grid-item .avt {
        height: 200px;
        width: 200px;
    }

    .name {
        font-size: 1.3em;
    }

    .stu-id{
        font-size: 1.2em;
    }

}

@media screen and (max-width:767px) {

    .grid-container {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .grid-item.team-photo {
        width: 60%;
    }

    .name-of-team {
        font-size: 2.5em;
        text-align: center;
    }

    p.about-team {
        text-align: center;
        width: 80%;
    }

    .grid-item {
        width: 100%;
        margin: 30px auto;
    }
    #member-section .grid-item {
        margin: 20px auto;
    }
    .grid-container-infor {
        display: block;
    }

    .general-infor {
        font-size: 1em;
        text-align: center;
    }

    .grid-item .avt {
        height: 200px;
        width: 200px;
        display: block;
        margin: auto;
        margin-top: 70px;
    }
    footer p{
        font-size: 0.7em;
    }
 /*for member page*/
    #header-member-page .name-of-team  {
        font-size: 1.6em;
    }
    
}

@media screen and (max-width:411px) {
    #header {
        text-align: center;
        height: 80vh;
    }
    .heading-section  {
        font-size: 1.4em;
    }
    .name-of-team {
        font-size: 1.6em;
    }
    p.about-team {
        font-size: 1em;
    }
    /*for member page*/
    #header-member-page .name-of-team  {
        font-size: 1.4em;
    }
    footer p {
        font-size: 0.5em;
    }
}